{% extends "base.html" %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card shadow-sm mt-5">
            <div class="card-body">
                <h3 class="card-title text-center mb-4">Giriş Yap</h3>
                <form action="{{ url_for('login') }}" method="POST">
                    <div class="mb-3">
                        <label for="username" class="form-label">Kullanıcı Adı</label>
                        <input type="text" class="form-control" id="username" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">Şifre</label>
                        <input type="password" class="form-control" id="password" name="password" required>
                    </div>
                    <button type="submit" class="btn btn-success w-100">Giriş Yap</button>
                </form>
                <div class="text-center mt-3">
                    <p class="small">Hesabınız yok mu? <a href="{{ url_for('register') }}">Kayıt Olun</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}